# Obbligatoria
NUXT_PUBLIC_BACKEND_URL="https://admin.xxx.it"

# Opzionali 
NUXT_IMAGE_PROVIDER="cloudflare"
NUXT_IMAGE_CLOUDFLARE_BASE_URL="https://cdn.xxx.it"

# NUXT_MULTI_CACHE_DRIVER="redis"
# NUXT_MULTI_CACHE_REDIS_URL="redis://:2oQLQYjD5M2gCe1EyvzBIoQ1KAnJ7KYbp0TG6rBGTFARknLBzWF9fi0gCWI6lLhl@rhgx4wudskan9ft9dyc6bgg2:6379/0"
