*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --scrollbar-gutter: 0px;
  --scrollbar-compensation: 0px;
}

html {
  scroll-padding-top: calc(var(--full-header-height, 0) + var(--scroll-gap, 0));

  font-size: 100%;
  height: 100%;

  @screen lg {
    font-size: 92.5%;
  }

  @screen 4xl {
    font-size: 100%;
  }

  &.is-scroll-locked {
    overflow: hidden;
    scrollbar-gutter: auto;
    padding-right: var(--scrollbar-gutter);
  }
}

body {
  -webkit-tap-highlight-color: transparent;
  --uno: typo-serif-1;
}

::selection {
  background: var(--colors-black);
  color: var(--colors-white);
}

.is-site-loading * {
  cursor: wait !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
  color: inherit !important;
  -webkit-text-fill-color: currentColor !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  transition:
    background-color 600000s ease-in-out 0s,
    color 600000s ease-in-out 0s;
}

.layout-grid {
  display: grid;
  gap: calc(var(--spacing) * 5);
  grid-template-columns: repeat(6, minmax(0, 1fr));

  @screen lg {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

.container {
  width: 100%;
  padding-inline: calc(var(--spacing) * 3);

  @screen lg {
    padding-inline: calc(var(--spacing) * 5);
  }
}

.break-container {
  margin-inline: calc(var(--spacing) * -5);
}

.desktop-only {
  @screen lt-lg {
    display: none !important;
  }
}

.mobile-only {
  @screen lg {
    display: none !important;
  }
}

/* konami code */
html.is-inverted {
  background-color: white;
  filter: invert(1);

  /* il bottone per uscire resta rosso anche invertito */
  .konamiDisable {
    filter: invert(1);
  }
}
